/*Configurações de entrada (botão, placeholder e input)*/

section.add-calculo-container {
    margin: 25px 0 20px;
    width: 100%;

    display: flex;
}

input.add-calculo-input {
    height: 40px;
    padding: 0 10px;

    border-radius:12px 0;
    border: none;

    flex: 3;

    background-color: #34384028;
    color: var(--texto);
    box-shadow: 3px 3px 5px var(--sombra);
}

div.add-calculo-button-container {
    margin-left: 10px;
    flex: 1;
    box-shadow: 3px 3px 5px var(--sombra);
}

::-webkit-input-placeholder {
    color: #f0f0f550;
    font: 13px verdana, arial, sans-serif;
 }
 
 :-moz-placeholder {
    color: #f0f0f550;
    font: 13px verdana, arial, sans-serif;
 }
 
 ::-moz-placeholder {
    color: #f0f0f550;
    font: 13px verdana, arial, sans-serif;
 }
 
 :-ms-input-placeholder {  
    color: #f0f0f550;
    font: 13px verdana, arial, sans-serif;
 }