/*Estilização do botão*/

button.add-button {
    background: none;
    border-radius: 9px 2px;
    border: 2px solid var(--magenta);
    box-shadow: 3px 3px 3px var(--sombra);

    font-size: 16px;
    font-weight: bold;
    color: var(--magenta);

    height: 40px;
    padding: 0 10px;
    width: 100%;
    
    cursor: pointer;
    transition: .25s;
}

button.add-button:hover{
    font-size: 17px;

    background: var(--magenta);
    color: var(--background);

    transition: .25s;
}