/*Estilização do botão*/

.add-button {
    background: #121214;
    height: 40px;
    padding: 0 10px;
    border-radius: 9px 2px;
    width: 100%;
    font-size: 16px;
    color: #c826ce;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid #c826ce;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.11);
}

.add-button:hover{
    background: #c826ce;
    color: #121214;
    transition: .25s;
}