/*Estilização do histórico*/

section.container_calc {
    background-color: #34384028;
    border-radius: 10px 0;
    box-shadow: 3px 3px 5px var(--sombra);

    color: var(--texto);
    
    margin: 10px 10px;
    padding: 15px 20px;

    display: flex;
    align-items: center;
    flex-direction: row;
}

div.elemento_child {
    flex: 1;
    margin: 3px;
    text-align: center;
}