/*Corpo principal
border-radius: 40px 0;*/

.container {
  background: #f0f0f505;
  max-width: 700px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  padding: 15px 30px 5px;
  color: #f0f0f5cb;
  box-shadow: 3px 3px 5px #0000001a;
}

