/*Configurações gerais*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
  --magenta: #c826ce;
  --background: #0e0a14;
  --sombra: #0000001c;
  --texto: #f0f0f5bb;
}

body {

  margin: 0;
  font-family:'Roboto', source-code-pro, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-color: var(--background);
}

code {
  font-family: 'Roboto', source-code-pro, monospace;
}

a, h1{
  color: var(--magenta);
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

p.format{
  text-align: center;
  display: block;
}